.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.task-importance-0 {
    background-color: #ffffff !important;
}

.task-completed {
    text-decoration: line-through !important;
}

.task-importance-1 {
    background-color: #ffffff !important;
}

.task-importance-2 {
    background-color: #ffffff !important;
}

.task-importance-3 {
    background-color: #f0f7f7 !important;
}

.task-importance-4 {
    background-color: #ccffff !important;
}

.task-importance-5 {
    background-color: #d0f7e3 !important;
}

.task-importance-6 {
    background-color: #ccffcc !important;
}

.task-importance-7 {
    background-color: #ccff99 !important;
}

.task-importance-8 {
    background-color: #ffffcc !important;
}

.task-importance-9 {
    background-color: #ffff99 !important;
}

.task-importance-10 {
    background-color: #ffcc99 !important;
}

.task-importance-11 {
    background-color: #ffcccc !important;
}

.task-importance-12 {
    background-color: #ff9999 !important;
}

.task-priority-negative {
    background-color: #f0f7f7 !important;
}

.task-priority-low {
    background-color: #00ff00 !important;
}

.task-priority-medium {
    background-color: #ffff00 !important;
}

.task-priority-high {
    background-color: #ffc800 !important;
}

.task-priority-top {
    background-color: #ff0000 !important;
}