.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.importance-0 {
    background-color: #ffffff !important;
}

.importance-1 {
    background-color: #ffffff !important;
}

.importance-2 {
    background-color: #ffffff !important;
}

.importance-3 {
    background-color: #f0f7f7 !important;
}

.importance-4 {
    background-color: #ccffff !important;
}

.importance-5 {
    background-color: #d0f7e3 !important;
}

.importance-6 {
    background-color: #ccffcc !important;
}

.importance-7 {
    background-color: #ccff99 !important;
}

.importance-8 {
    background-color: #ffffcc !important;
}

.importance-9 {
    background-color: #ffff99 !important;
}

.importance-10 {
    background-color: #ffcc99 !important;
}

.importance-11 {
    background-color: #ffcccc !important;
}

.importance-12 {
    background-color: #ff9999 !important;
}

.priority-negative {
    background-color: #f0f7f7 !important;
}

.priority-low {
    background-color: #00ff00 !important;
}

.priority-medium {
    background-color: #ffff00 !important;
}

.priority-high {
    background-color: #ffc800 !important;
}

.priority-top {
    background-color: #ff0000 !important;
}