.task-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task-list li {
    border-radius: 4px;
    margin: 2px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-list li.selected {
    border: 1px solid #008c4b;
}

.task-list li:hover {
    border: 1px solid #008c4b;
}