.task-calendar .rbc-event {
    border: none !important;
    color: inherit;
    background-color: inherit;
    padding: 0;
}

.task-calendar .rbc-event-label {
    margin-bottom: 5px;
}

.task-calendar .wrapper-start-date .rbc-event {
    border: 2px solid #32cd32 !important;
}

.task-calendar .wrapper-due-date .rbc-event {
    border: 2px solid #1e90ff !important;
}

.task-calendar .wrapper-start-date .rbc-selected, .task-calendar .wrapper-due-date .rbc-selected {
    border: 2px solid #008c4b !important;
    background-color: inherit;
}