.ReactVirtualized__Table__headerColumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.ReactVirtualized__Table__headerTruncatedText {
    flex: auto;
    user-select: none;
}

.DragHandle {
    flex: 0 0 16px;
    cursor: col-resize;
    color: #0e67c4;
    z-index: 2;
}

.DragHandle:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.DragHandleActive, .DragHandleActive:hover {
    color: #ff0000;
    z-index: 3;
}

.DragHandleIcon {
    flex: 0 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DropOver {
    border: 1px dashed #0e67c4 !important;
}