.ant-menu-item {
    height: 30px !important;
    line-height: 30px !important;
}

.ant-layout-sider {
    overflow-y: auto;
}

.ant-layout-footer {
    padding: 10px 50px !important;
}

.ant-spin-nested-loading, .ant-spin-container {
    min-height: 100%;
    height: 100%;
}

.ant-form-item {
    margin-bottom: 3px !important;
}